.op-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.op-text {
  max-width: 800px;
  line-height: 1.25;

  & > p {
    margin-bottom: 0.5rem;
  }
}
