.button {
  padding: 4px 12px;
  background: #0099cc;
  border-radius: 4px;
  border: 2px solid #333;
  cursor: pointer;
  color: #333;
  text-decoration: none;

  &:hover, &:active {
    background: #0088bb;
  }
}
