.search {
  position: relative;

  & input {
    display: block;
    width: 100%;
    padding: 7px 12px 6px 12px;
    border-radius: 4px;
    border: 2px solid #ccc;

    outline: 0;
    transition: border-color 250ms ease-out;

    &:focus {
      border-color: var(--link-color);
    }

    &::placeholder {
      color: #ccc;
    }
  }

  & ul {
    position: absolute;
    z-index: 1000;
    left: 0;
    top: calc(100% + 2px);
    width: 550px;
    max-height: 400px;
    overflow-y: scroll;

    background: #fff;
    border-radius: 4px;
    box-shadow: var(--floating-shadow);

    opacity: 1;
    pointer-events: auto;
    transition: opacity 250ms ease-out;

    &.hidden {
      opacity: 0;
      pointer-events: none;
    }

    & > li {
      & > a {
        color: black;
        display: block;
        padding: 0.5rem;
        text-decoration: none;
      }

      &.hover > a, & > a:hover {
          color: white;
          background: var(--link-color);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .search ul {
    width: 100%;
    max-height: 10000px;
  }
}
