#sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;

  height: 100vh;
  width: var(--sidebar-width);
  padding: var(--sidebar-padding);

  background: var(--sidebar-background);

  & > section:not(:last-child) {
    padding-bottom: 1rem;
  }

  & > section:last-child {
    margin-top: auto;
  }
}

#site-title {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;

  font-size: 1.5rem;
  margin: 1rem 0 0.25rem;

  & > img {
    width: 64px;
    margin-bottom: 0.5rem;
  }
}

#site-description {
  font-size: 0.9rem;

  & > p {
    color: #555;
    margin-top: 0.2rem;
  }
}

@media screen and (max-width: 768px) {
  #sidebar {
    position: relative;
    display: flex;
    flex-direction: column;

    height: auto;
    width: 100vw;
  }
}
